name: block-merge

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  block-merge:
    runs-on: ubuntu-latest
    steps:
      - name: Always fail
        run: |
          echo "This check is designed to always fail"
          exit 1
